# https://{{ provider_prefix }}
{% if import_path_prefix != provider_prefix -%}
%global forgeurl        https://{{ provider_prefix }}
%global goipath         {{ import_path_prefix }}
{% else -%}
%global goipath         {{ import_path_prefix }}
{% endif -%}
%global commit          {{ project_signature["commit"] }}

%gometa -i

Name:           %{goname}
Version:        0
Release:        0.0%{?dist}
Summary:        !!!!FILL!!!!
{% if licenses != [] -%}
# Detected licences
{% for license in licenses -%}
# - {{ license["type"] }} at '{{ license["file"] }}'
{% endfor -%}
{% endif -%}
License:        !!!!FILL!!!!
URL:            %{gourl}
Source0:        %{gosource}

{% if with_build %}{% if main["deps"] | length > 0 %}install -d %{buildroot}%{_bindir}{% endif %}
{% for package in main["deps"] -%}
{%- if main["deps"][package] != [] -%}
# {{ package }}
{% for dep in main["deps"][package] -%}
BuildRequires: golang({{ dep }})
{% endfor %}
{% endif -%}
{% endfor -%}
# Remaining dependencies not included in main packages
{% for dep in main["remaining_devel_deps"] %}BuildRequires: golang({{ dep }})
{% endfor -%}
{%- endif %}

%description
%{summary}

%package devel
Summary:       %{summary}
BuildArch:     noarch

{% for dep in devel["deps"] -%}
BuildRequires: golang({{ dep }})
{% endfor %}
%description devel
%{summary}

This package contains library source intended for
building other packages which use import path with
%{goipath} prefix.

%prep
%gosetup -q

{% if with_build %}
%build
%gobuildroot

{% for package in main["dirs"] -%}
#%gobuild -o _bin/{{ package }} %{import_path}/{{ package }}
{% endfor %}
{% endif %}
%install
{%- if with_build %}
install -d -p %{buildroot}%{_bindir}
{% for package in main["dirs"] -%}
#install -p -m 0755 _bin/{{ package }} %{buildroot}%{_bindir}
{% endfor -%}
{% endif %}
%goinstall

%check
%gochecks

#define license tag if not already defined
%{!?_licensedir:%global license %doc}

{% if with_build -%}
%files
{% if licenses != [] -%}
%license{% for license in licenses %} {{ license["file"] }}{% endfor %}
{% endif -%}
{% if docs != [] -%}
%doc{% for doc in docs %} {{ doc }}{% endfor %}
{% endif -%}
{% for package in main["dirs"] -%}
#%{_bindir}/{{ package }}
{% endfor -%}
{%- endif %}
%files devel -f devel.file-list
{% if licenses != [] -%}
%license{% for license in licenses %} {{ license["file"] }}{% endfor %}
{% endif -%}
{% if docs != [] -%}
%doc{% for doc in docs %} {{ doc }}{% endfor %}
{% endif -%}


%changelog
