[submodule "third_party/gofed_infra"]
	path = third_party/gofed_infra
	url = https://github.com/gofed/infra
[submodule "third_party/gofed_lib"]
	path = third_party/gofed_lib
	url = https://github.com/gofed/lib.git
[submodule "third_party/gofed_resources"]
	path = third_party/gofed_resources
	url = https://github.com/gofed/resources.git
[submodule "third_party/cmdsignature"]
	path = third_party/cmdsignature
	url = http://github.com/gofed/cmdsignature
