[Unit]
Description=Resource provider GC
After=multi-user.target

[Service]
Type=idle
Environment={{ envs }}
ExecStart=/usr/bin/python {{ resourceproviderdaemon }}

[Install]
WantedBy=multi-user.target
