[storage]
readplugin: filestoragereader
writeplugin: filestoragewriter
write: true
read: true

[resources]
client_dir: {{ resource_client_dir }}

[simplefilestorage]
working_directory: {{ simplefilestorage }}
